In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Convertir a dataframe
df = pd.read_csv("GINEBRA.csv")
df

,Unnamed: 0,ID ANUNCIIO,ID SCRAPE,FUENTE INFO,NOMBRE ANFITRION,FECHA INICIO ANFITRION,TIEMPO DE RESPUESTA,TASA DE RESPUESTA,TASA DE ACEPTACION,SUPERANFITRION,...,PUNTAJE CHECKIN,PUNTAJE COMUNICACION,PUNTAJE UBICACION,PUNTAJE VALOR,RESERVA INSTANTANEA,ANUNCIOS ANFITRION,ANUNCIOS HOGAR COMPLETO,ANUNCIOS HABITACION PRIVADA,ANUNCIOS HABITACION COMPARTIDA,REVIEWS POR MES
0,0,42515,20241229042300,city scrape,Noelle,2010-07-30,within a few hours,100%,88%,f,...,4.86,4.84,4.85,4.55,f,1,0,1,0,0.49
1,1,203997,20241229042300,city scrape,Mike,2011-08-21,within an hour,100%,100%,t,...,4.97,4.99,4.96,4.81,t,2,2,0,0,0.60
2,2,276025,20241229042300,city scrape,Gaby,2011-11-25,within an hour,100%,100%,t,...,4.88,4.89,4.77,4.68,f,1,1,0,0,0.78
3,3,338682,20241229042300,city scrape,Mike,2011-08-21,within an hour,100%,100%,t,...,4.90,4.89,4.87,4.70,t,2,2,0,0,0.77
4,4,399388,20241229042300,city scrape,Oscar,2012-03-23,within an hour,100%,89%,t,...,4.95,4.89,4.70,4.70,f,2,0,2,0,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,2752,1318859808229991842,20241229042300,city scrape,Alexandre,2024-12-24,NaN,NaN,100%,f,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2753,2753,1319353272672215826,20241229042300,city scrape,Jasmine,2019-06-18,NaN,NaN,50%,f,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2754,2754,1319753554977771528,20241229042300,city scrape,Jennie,2024-09-05,within an hour,100%,57%,f,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2755,2755,1319753624300180036,20241229042300,city scrape,Jennie,2024-09-05,within an hour,100%,57%,f,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2756,2756,1320187730227740458,20241229042300,city scrape,Soufiane,2015-07-03,within an hour,100%,NaN,f,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [4]:
# Ajustar maximo de filas para visualizar todo

pd.options.display.max_rows = None

In [5]:
pd.options.display.max_columns = None

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2757 entries, 0 to 2756
Data columns (total 51 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      2757 non-null   int64
 1   ID ANUNCIIO                     2757 non-null   int64
 2   ID SCRAPE                       2757 non-null   int64
 3   FUENTE INFO                     2757 non-null   object
 4   NOMBRE ANFITRION                2757 non-null   object
 5   FECHA INICIO ANFITRION          2757 non-null   datetime64[s]
 6   TIEMPO DE RESPUESTA             2015 non-null   object
 7   TASA DE RESPUESTA               2015 non-null   object
 8   TASA DE ACEPTACION              2309 non-null   object
 9   SUPERANFITRION                  2726 non-null   object
 10  CANTIDAD ANUNCIOS               2757 non-null   int64
 11  CANTIDAD TOTAL ANUNCIOS         2757 non-null   int64
 12  LATITUD                         2757 non-null   float64
 13  LONGITUD                        2757 non-null   float64
 14  TIPO DE PROPIEDAD               2757 non-null   object
 15  TIPO DE CUARTO                  2757 non-null   object
 16  CAPACIDAD                       2757 non-null   int64
 17  BAÑOS                           2067 non-null   float64
 18  DORMITORIOS                     2550 non-null   float64
 19  CAMAS                           2063 non-null   float64
 20  AMENIDADES                      2757 non-null   object
 21  PRECIO                          2068 non-null   object
 22  NOCHES MINIMAS                  2757 non-null   int64
 23  NOCHES MAXIMAS                  2757 non-null   int64
 24  MINIMO NOCHES MINIMAS           2757 non-null   int64
 25  MAXIMO NOCHES MINIMAS           2757 non-null   int64
 26  MINIMO NOCHES MAXIMAS           2757 non-null   int64
 27  MAXIMO NOCHES MAXIMAS           2757 non-null   int64
 28  PROMEDIO NOCHES MINIMAS         2757 non-null   float64
 29  PROMEDIO NOCHES MAXIMAS         2757 non-null   float64
 30  TIENE DISPONIBILIDAD            2683 non-null   object
 31  DISPONIBILIDAD 30D              2757 non-null   int64
 32  DISPONIBILIDAD 60D              2757 non-null   int64
 33  DISPONIBILIDAD 90D              2757 non-null   int64
 34  DISPONIBILIDAD 365D             2757 non-null   int64
 35  CANTIDAD REVIEWS                2757 non-null   int64
 36  REVIEWS ULTIMOS 12M             2757 non-null   int64
 37  REVIEWS ULTIMOS 30D             2757 non-null   int64
 38  PUNTAJE RATING                  2081 non-null   float64
 39  PUNTAJE PRECISION               2081 non-null   float64
 40  PUNTAJE LIMPIEZA                2081 non-null   float64
 41  PUNTAJE CHECKIN                 2081 non-null   float64
 42  PUNTAJE COMUNICACION            2081 non-null   float64
 43  PUNTAJE UBICACION               2081 non-null   float64
 44  PUNTAJE VALOR                   2081 non-null   float64
 45  RESERVA INSTANTANEA             2757 non-null   object
 46  ANUNCIOS ANFITRION              2757 non-null   int64
 47  ANUNCIOS HOGAR COMPLETO         2757 non-null   int64
 48  ANUNCIOS HABITACION PRIVADA     2757 non-null   int64
 49  ANUNCIOS HABITACION COMPARTIDA  2757 non-null   int64
 50  REVIEWS POR MES                 2081 non-null   float64
dtypes: datetime64[s](1), float64(15), int64(23), object(12)
memory usage: 1.1+ MB

Filtro a: Los registros de 5 host names diferentes

In [8]:
#Filtro a

filtro_a = df[(df["NOMBRE ANFITRION"] == "Noelle") | (df["NOMBRE ANFITRION"] == "Mike") | (df["NOMBRE ANFITRION"] == "Gaby") | (df["NOMBRE ANFITRION"] == "Oscar") | (df["NOMBRE ANFITRION"] == "Jasmine")]

In [9]:
#Convertir archivo filtrado a CSV

filtro_a.to_csv("filtro_a.csv")

Filtro b: Los registros de los host que se hallan unido a Airbnb despúes del año 2020

In [10]:
#Conversión de tipo de dato de columna

df["FECHA INICIO ANFITRION"] = df["FECHA INICIO ANFITRION"].astype("datetime64[s]")

In [13]:
#Filtro b

filtro_b = df[(df["FECHA INICIO ANFITRION"] >= "2020-01-01")]

In [14]:
#Convertir archivo filtrado a CSV

filtro_b.to_csv("filtro_b.csv")

Filtro c: Los registros de los host que responden a más tardar en un día

In [15]:
#Filtro c

filtro_c = df[(df["TIEMPO DE RESPUESTA"] == "within an hour") | (df["TIEMPO DE RESPUESTA"] == "within a few hours") | (df["TIEMPO DE RESPUESTA"] == "within a day")]

In [16]:
#Convertir archivo filtrado a CSV

filtro_c.to_csv("filtro_c.csv")

Filtro d: Los registros de las filas múltiplos de 200... (400, 600, 800, etc)

In [17]:
#Filtro d

filtro_d = df.iloc[range(0, len(df), 200)]

In [18]:
#Convertir archivo filtrado a CSV

filtro_d.to_csv("filtro_d.csv")

Filtro e: Los registros de los tipos de cuarto Entire home y Private room

In [19]:
#Filtro e

filtro_e = df[(df["TIPO DE CUARTO"] == "Private room") | (df["TIPO DE CUARTO"] == "Entire home/apt")]

In [20]:
#Convertir archivo filtrado a CSV

filtro_e.to_csv("filtro_e.csv")

Filtro f: Los registros que a lo mucho cuenten con 4 camas

In [21]:
#Filtro f

filtro_f = df[df["CAMAS"] <= 4]

In [22]:
#Convertir archivo filtrado a CSV

filtro_f.to_csv("filtro_f.csv")

Filtro g: Los registros que sean superhost

In [23]:
#Filtro g

filtro_g = df[df["SUPERANFITRION"] == "t"]

In [24]:
#Convertir archivo filtrado a CSV

filtro_g.to_csv("filtro_g.csv")

Filtro h: Los registros de las columnas impares

In [25]:
#Filtro h

filtro_h = df.iloc[:, 1::2]

In [26]:
#Convertir archivo filtrado a CSV

filtro_h.to_csv("filtro_h.csv")